
<%-include('partials/header');%>
<h1>Compose</h1>
<form  action="/compose" method="POST">
    <div class="form-group">
<label for="title">Title</label>
<input class="form-control" type="text" name="title" required size="98">
    </div>

<div class="form-group">
<label for="content">Post</label>
<textarea class="form-control" name="content" id="" cols="100" rows="10"></textarea>
</div>

<input class="btn btn-primary" type="submit" value="Publish">
</div>
</form>

<%-include('partials/footer');%>